coverage/*
setup/*
node_modules/*
dist/
.husky
.gitignore
.env
.env.example
.env.testing
.env.testing.example
.env.production.example
.eslintignore
.eslint
commitlint.config.js
jest-e2e.config.ts
jest-unit.config.ts
jest.config.ts
jest-integration.config.ts
jest-integration.setup'.ts
README.md